{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'delicious/base.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'delicious/main.css' %}" media="screen">

{% endblock %}

{% block content %}
    <section class="u-align-center u-section-2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text-2"> Add Recipe</h2>
            <div class="u-align-left u-container-style u-opacity u-opacity-20 u-radius-20 u-white u-group-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                    <div class="u-form u-form-1">
                        {% include 'messages.html' %}
                        <form action="{% url 'add recipe' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" value="Create">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}