{% extends 'base.html' %}
{% load calculate_years %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'delicious/profilepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'delicious/recipe_details.css' %}" media="screen">
{% endblock %}

{% block content %}
    <section class="u-clearfix u-palette-5-dark-3 u-section-1" id="carousel_ce76">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-22 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-text u-text-1"> {{ recipe.title }}</h2>
                                <p class="u-text-11 u-text-2"></p>
                                <p class="u-text-11 u-text-3"><b>Category:</b> {{ recipe.category }}</p>
                                <p class="u-text-11 u-text-4"><b>Preparation time:</b> {{ recipe.preparation_time }}
                                    minutes<br>
                                </p>
                                <p class="u-text-11 u-text-5"><b>Cooking time:</b> {{ recipe.cooking_time }} minutes<br>
                                </p>
                                <p class="u-text-11 u-text-6"><b>Total time:</b> {{ recipe.total_cooking_time }} minutes
                                </p>
                                <p class="u-text-11 u-text-6"><b>Cooked:</b> {{ recipe.cooked_counter }} times
                                </p>
                                <p class="u-text-11 u-text-7"><u>Ingredients:</u> {{ recipe.ingredients|linebreaksbr }}
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-38 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-container-style u-group u-image u-image-default u-image-tiles u-image-1">
                                    <div class="u-container-layout u-container-layout-3">
                                        <img src="{{ recipe.picture }}" alt="" class="u-image u-image-default u-image-2"
                                             data-image-width="800" data-image-height="533">
                                    </div>
                                </div>
                                <p class="u-text-11 u-text-8"><u>Directions:</u> {{ recipe.description }}</p>
                                {% if not is_anonymous %}
                                    {% if is_owner %}
                                        <a href="{% url 'edit recipe' recipe.pk %}"
                                           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-2">Edit</a>
                                        <a href="{% url 'delete recipe' recipe.pk %}"
                                           class="u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style
                                   u-hover-palette-1-base u-none u-radius-50 u-btn-3">Delete</a>
                                    {% else %}
                                        {% if request.user in recipe.cooked.all %}
                                            <a href="{% url 'cooked' recipe.pk %}"
                                               class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-2">Cooked</a>
                                        {% else %}
                                            <a href="{% url 'cooked' recipe.pk %}"
                                               class="u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style
                                   u-hover-palette-1-base u-none u-radius-50 u-btn-3">Cook It</a>
                                        {% endif %}
                                        <a href="{% url 'add comment' recipe.pk %}"
                                           class="u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style
                                   u-hover-palette-1-base u-none u-radius-50 u-btn-3">comment</a>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <section id="app">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-6">#}
    {#                    <div class="comment">#}
    {#                        <p v-for="items in item" v-text="items"></p>#}
    {#                    </div><!--End Comment-->#}
    {#                </div><!--End col -->#}
    {#            </div><!-- End row -->#}
    {#            <div class="row">#}
    {#                <div class="col-6">#}
    {#                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"#}
    {#                              @keyup.enter="addItem()"></textarea>#}
    {#                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment#}
    {#                    </button>#}
    {#                </div><!-- End col -->#}
    {#            </div><!--End Row -->#}
    {#        </div><!--End Container -->#}
    {#    </section><!-- end App -->#}
{% endblock %}

