{% extends 'base.html' %}
{% load calculate_years %}
{% load get_name %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'delicious/details.css' %}" media="screen">
{% endblock %}

{% block content %}
    <section class="u-clearfix u-palette-5-dark-3 u-section-1">
        <div class="u-sheet u-sheet-1">
            <div class="u-layout-wrap-1">
                <div class="u-layout-row">
                    <div class="u-size-22">
                        <div>
                            {% include 'messages.html' %}
                            <h2 class="u-text" style="color: orange"><i>{{ recipe.title }}</i></h2>
                            <p class="u-text-11"><b>Recipe by:</b> {{ recipe.user.email|get_name }}</p>
                            <p class="u-text-11"><b>Preparation time:</b> {{ recipe.preparation_time }} minutes</p>
                            <p class="u-text-11"><b>Cooking time:</b> {{ recipe.cooking_time }} minutes </p>
                            <p class="u-text-11"><b>Total time:</b> {{ recipe.total_cooking_time }} minutes </p>
                            <p class="u-text-11"><b>Cooked:</b> {{ recipe.cooked_counter }} times </p>
                            <p class="u-text-11">
                                <u style="color: orange">Ingredients:</u><br>{{ recipe.ingredients|linebreaksbr }}
                            </p>
                        </div>
                    </div>
                    <div class="u-size-38">
                        <div class="u-image-1">
                            <div>
                                {% if recipe.picture %}
                                    <img class="u-image u-image-2" src="{{ recipe.picture }}" alt="recipe photo">
                                {% else %}
                                    <img src="https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1583749915/DCUK/Content/iStock-879690980.jpg"
                                         alt="no image" class="u-image u-image-2">
                                {% endif %}
                            </div>
                        </div>
                        <p class="u-text-11">
                            <u style="color: orange">Directions:</u><br>{{ recipe.description }}</p>
                        {% if not is_anonymous %}
                            {% if is_owner %}
                                <a href="{% url 'edit recipe' recipe.pk %}"
                                   class="u-border-2 u-border-palette-1-base u-btn u-btn-3">Edit</a>
                                <a href="{% url 'delete recipe' recipe.pk %}"
                                   class="u-border-2 u-border-palette-1-base u-btn u-btn-3">Delete</a>
                            {% else %}
                                {% if request.user in recipe.cooked.all %}
                                    <a href="{% url 'cooked' recipe.pk %}"
                                       class="u-border-2 u-border-palette-1-base u-btn u-btn-3">&#10003; Cooked</a>
                                {% else %}
                                    <a href="{% url 'cooked' recipe.pk %}"
                                       class="u-border-2 u-border-palette-1-base u-btn u-btn-3">&#10005; Cooked</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'delicious/recipe_comment.html' %}
{% endblock %}

