{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'delicious/profilepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'delicious/categories.css' %}" media="screen">
{% endblock %}

{% block content %}
    <section class="u-align-center u-black u-clearfix u-section-1" id="carousel_5e71">

        <img class="u-expand-resize u-expanded-width u-image u-image-1"
             src="{% static 'delicious/images/categories.jpg' %}" alt="">

        <div class="u-list u-list-1">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h2 class="u-text-2">My Recipes</h2>
                <div class="u-repeater u-repeater-1">
                    {% for recipe in recipes %}
                        <div class="u-align-left u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-shape-rectangle u-list-item-1">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                <div class="u-align-center u-container-style u-group u-opacity u-opacity-45 u-palette-5-dark-1 u-radius-50 u-shape-round u-group-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h1 class="u-custom-font u-text u-text-1"></h1>
                                    </div>
                                </div>
                                <h5 class="u-text u-text-body-alt-color u-text-2">
                                    <a href="{% url 'details recipe' recipe.pk %}"><u>{{ recipe.title|title }}</u></a>
                                </h5>
                                <p class="u-text u-text-grey-30 u-text-3">{{ recipe.total_cooking_time }} minutes</p>
                                <p class="u-text u-text-grey-30 u-text-3">{{ recipe.description|truncatechars:50 }}</p>
                                <p class="u-text u-text-grey-30 u-text-3">
                                    <a href="{% url 'category slug' slug=recipe.category.slug %}">{{ recipe.category }}</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </section>
{% endblock %}