{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'delicious/categories.css' %}" media="screen">
{% endblock %}

{% block content %}
    <section class="u-align-center u-section-2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text-2"> Change Password</h2>
            <div class="u-align-left u-container-style u-group u-opacity u-opacity-20 u-radius-20 u-white u-group-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                    <div class="u-form u-form-1">
                        <form method="POST" action="{% url 'change password' request.user.pk %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Change password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}