{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'delicious/profilepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'delicious/categories.css' %}" media="screen">
{% endblock %}

{% block content %}
    <section class="skrollable u-align-center u-section-2" id="carousel_5e71">
        <img class="u-expand-resize u-expanded-width u-image u-image-1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text-2"> Enter New Password</h2>
            <div class="u-align-left u-border-2 u-border-grey-75 u-container-style u-group u-opacity u-opacity-20 u-radius-20 u-shape-round u-white u-group-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                    <div class="u-form u-form-1">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary mt-2" type="submit">Update Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}